# Secrets & Credentials
DEPLOY_INFINITYFREE.md
**/.env
**/.env.production
**/.env.local

# Dependency directories
/node_modules
/vendor

# System files
.DS_Store
Thumbs.db

# IDEs
.idea
.vscode
*.swp

# Gradle
.gradle/
build/
gradle.properties
local.properties
*.iml
*.ipr
*.iws

# Android
app/build/
app/release/
*.apk
*.aab
*.aar

# Kotlin
.kotlin/

# Lint
lint-baseline.xml
