parameters:
    level: 5
    paths:
        - src
        - tests
    excludePaths:
        - vendor (?)
        - node_modules (?)
    
    # Allow dynamic properties in tests
    reportUnmatchedIgnoredErrors: false
    
    # Native bootstrap (Zero Trust)
    bootstrapFiles:
        - tests/bootstrap.php
